<mat-toolbar color="primary" xmlns="http://www.w3.org/1999/html">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/menu/home" aria-label="Accueil">
    <mat-icon>home</mat-icon>
    Accueil
  </button>
  <button mat-button routerLink="/menu/tickets" aria-label="Tickets">
    <mat-icon>confirmation_number</mat-icon>
    Tickets
  </button>
  <button *ngIf="authService.userrole === 'admin'" mat-button routerLink="/menu/users" aria-label="Utilisateurs">
    <mat-icon>people</mat-icon>
    Utilisateurs
  </button>
  <button mat-button routerLink="/menu/projects" aria-label="Projets">
    <mat-icon>folder</mat-icon>
    Projets
  </button>
  <button mat-button routerLink="/menu/clients" aria-label="Clients">
    <mat-icon>business</mat-icon>
    Clients
  </button>

  <!-- Image de profil avec menu -->
  <div class="profile-container mx-2">
    <img
      [src]="getUserImage(authService.usersexe)"
      alt="Image de profil"
      class="round-circle"
      [matMenuTriggerFor]="menu"
    />
  </div>
  <!-- Menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>{{ authService.username }}</span>
    </button>
    <button mat-menu-item (click)="logout()" aria-label="">Déconnexion</button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/menu/tickets" aria-label="Tickets">
          <mat-icon>dashboard</mat-icon>
          Tickets
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="authService.userrole === 'admin'">
        <button mat-button routerLink="/menu/users" aria-label="Utilisateurs">
          <mat-icon>dashboard</mat-icon>
          Utilisateurs
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/menu/projects" aria-label="Projets">
          <mat-icon>dashboard</mat-icon>
          Projets
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/menu/clients" aria-label="Clients">
          <mat-icon>dashboard</mat-icon>
          Clients
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
