<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  <link rel="stylesheet" href="/home.component.css">
</head>
<body>
<div class="container">
  <header>
    <h1>Bienvenue sur l'application de gestion des tickets</h1>
  </header>
  <main>
    <br><br>
    <h3>Cette application vous permet de créer et gérer des utilisateurs, des projets, des clients et des tickets</h3>
  </main>
</div>
</body>
</html>
