<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  <link rel="stylesheet" href="./home.component.css">
</head>
<body>
<div class="container">
  <header>
    <h1>Bienvenue sur l'application de gestion des tickets, des clients, des projets et des utilisateurs</h1>
  </header>
  <main>
    <p>Cette application vous permet de gérer des utilisateurs, des projets, des clients et des tickets</p>
  </main>
</div>
</body>
</html>
